h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 4vw;
    color: black;
}

.header h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 3vw;
  color: black;
}

.header {
  background-color: rgb(241, 241, 241);
  background-size: contain;
  height: 40vh;
}

.main-div {
  background-image: url("images/moroccan-flower.png");
}

.heading-text {
  margin: auto;
  padding: 20vh 20vh;
}

.header-contents {
  position: absolute;
  width: 100%;
  top: 0;
}

.carousel-item {
  height: 32rem;
  background-color:white
}


.pre-footer {
  background-image: linear-gradient(to bottom, aqua, black);
}

.footer {
  width: 100%;
  background-color: Black;
  color: White;
}

html {
  background-image: url("images/moroccan-flower.png");
}

p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 3vw;
}

ul {
  list-style-type: none;
}

.navbar {
  border-bottom: 1px solid;
  border-color: black;
}

.thicker-border {
  border-width: 3px !important;
}

.divider {
  width: 80vw;
  height: 20vh;
}

.nav {
  display: inline-block;
}

img {
  image-orientation: from-image;
}

.footer {
    box-shadow: 0 50vh 0 50vh #000;
}

/* Phones and smaller */

@media screen and (max-width: 640px) {
  p {
    font-size: 3vw;
  }

  h1 {
    font-size: 4vw;
  }

  html {
    background-size: cover;
  }

  .profile_image {
    height: 40%;
    width: 20%;
  }

  .navbar-margin-adjuster {
    margin-top: 10vh;
  }

  .dropdown-text {
    font-size: 4vw;
  }

}

/* Tablets */

@media screen and (min-width: 641px),
       screen and (max-width: 1007px) {
  html {
    background-attachment: fixed;
    background-size: cover;
  }

  p {
    font-size: 2vw;
  }

  h1 {
    font-size: 3vw;
  }

  .profile_image {
    height: 40%;
    width: 20%;
  }

  .dropdown-text {
    font-size: 3vw;
  }

}

/* Pc's and larger */

@media screen and (min-width: 1008px) {
  p {
    font-size: 2vw;
  }

  .python-header-icon {
    padding-top: 15vh;
    padding-bottom: 5vh;
    height: 35vh;
  }
  
  .html-header-icon {
    padding-top: 15vh;
    padding-bottom: 5vh;
    height: 35vh;
  }

  .profile_image {
    height: 20%;
    width: 10%;
  }

  .dropdown-text {
    font-size: 1vw;
  }
}